$color: rgb(255, 195, 83);
$colorDarker : rgb(255, 180, 40);

/* MINI RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    box-shadow: 0 0 4px black;

    .bold {
        font-weight: 700;
    }

    .underline {
        text-decoration: underline;
    }
}

#header {
    display: flex;
    padding: 0 10%;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    justify-content: flex-end;
    align-items: center;
    height: 15%;

    h1 {
        font-size: 3em;
        color: $color
    }

    p {
        text-align: center;
    }
}

.container {
    display: flex;
    flex-grow: 1;
    padding: 0 2em;

    #aside {
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 50%;
        height: 100%;

        picture {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -15%;

            img {
                width: 175px;
            }
        }

        .rubrique {
            padding: 1em;
            line-height: 1.5em;

            h2 {
                line-height: 3em;
                color: $color
            }

            li {
                display: flex;
                gap: 1em;
                align-items: center;

                img {
                    width: 15px;
                }

                a {
                    color: white;
                }
            }


        }
    }

    #article {

        display: flex;
        flex-flow: column;
        justify-content: space-evenly;

        .skills {
            padding: 0 1em;
            line-height: 1.5em;

            ul {
                li {
                    ul {
                        li {
                            padding-left: 1em;
                        }
                    }
                }
            }

            h2 {
                line-height: 3em;
                color: $colorDarker
            }
        }
    }
}